$basic: rgb(72, 72, 72);
$green: rgb(0, 132, 137);
$border: 1px solid rgb(228, 228, 228);
$red: rgb(255, 90, 95);

body {
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 14px;
  line-height: 1.43;
  color: $basic;
  background-color: #fff;

  h2 {
    font-size: 48px;
    font-weight: bold;
  }

  h3 {
    font-size: 28px;
    margin: 2px 0;
    color: $basic;
    font-weight: bold;
  }

  h4 {
    font-weight: bold;
  }

  h4.feature {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 15px;
    font-weight: 300;
  }
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.main {
  padding: 80px 80px 32px;
}

.view-all {
  text-align: left;
  width: 100%;
  padding: 8px;
  font-size: 17px;
  color: $green;
}

%field {
  background-color: rgb(255, 255, 255) !important;
  margin-bottom: 8px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(219, 219, 219) !important;
  border-radius: 2px !important;
}

%form {
  font-size: 19px !important;
  line-height: 24px !important;
  border: none;
  padding: 11px;

}

%btn-small {
  padding: 7px 21px;
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
}
