.feature-category {
  padding: 32px 0 0;

  &__element {
    width: calc(33% - 16px);
    padding: 0px 8px;
    display: inline-block;
    cursor: pointer;

    img {
      width: 100%;
    }

    &-info {
      padding-top: 8px;
      white-space: normal;

      span {
        display: block;
        margin-top: 2px;
      }

      .view-more {
        font-size: 12px;
      }

      .feature-title {
        font-size: 19px;
        font-weight: 700;
      }

      .feature-text {
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
}
