.feature-collection {
  padding: 32px 0 0;

  &__element {
    width: calc(50% - 20px);
    padding: 0 8px;
    display: inline-block;
    cursor: pointer;

    &-img {
      position: relative;

      img {
        width: 100%;
      }

      h2.feature {
        color: #FFF;
        position: absolute;
        width: 100%;
        text-align: center;
        top: calc(50% - 24px)
      }
    }

    &-info {
      padding-top: 8px;
      white-space: normal;

      span {
        display: block;
        margin-top: 2px;
      }

      .view-more {
        font-size: 12px;
      }

      .feature-text {
        font-size: 17px;
        font-weight: 300;
      }
    }
  }
}
