.footer {
  border-top: 1px solid $border;

  &-contents {
    margin: 0 143px;
    padding: 48px 24px;

    %__nav-box {
      float: left;
      padding: 0 8px;
      width: 16.6667%;
      margin-right: 8.33333%;

      ul {
        margin: 16px 0;

        li {
          margin-bottom: 4px;
        }
      }
    }

    &__nav-box {
      @extend %__nav-box;

      &--last {
        @extend %__nav-box;
        margin-right: 0px !important;
      }
    }

    &__copyright {
      width: 50%;
      margin: 16px 0;
      padding: 16px 0;
      border-top: 1px solid $border;
      clear: both;
      float: left;
    }

    &__language {
      width: 50%;
      margin: 16px 0;
      padding: 16px 0;
      border-top: 1px solid $border;
      display: inline-block;
      float: right;
      text-align: right;
    }
  }
}

.footer-sns-icon {
  font-size: 18px !important;
  margin: 0 8px;
}

.footer-logo-icon {
  width: 22.5px;
  height: 22.5px;
}

.footer-content-bottom {
  padding: 8px;
}

.footer-icon-angle-down {
  padding-left: 8px;
}
