.main
  = render 'layouts/search'
  / = render 'layouts/feature-special'
  .rooms
    %h3 世界のお家
    #rooms
      = render partial: "layouts/rooms"
  = render 'layouts/feature-collection'
  = render 'layouts/feature-category'
