- provide(:title, "現地の人から借りる家、体験&スポット")
.main
  = render 'layouts/search'
  .rooms
    %h3 世界のお家
    #rooms
      = render partial: "layouts/rooms"
  = render 'layouts/feature-collection'
  = render 'layouts/feature-category'
