.feature-special
  %h3 Airbnb Plusが新登場
  .feature-special__element
    = image_tag('sample4.jpg')
    .feature-special__element-inline
      %p Airbnbの宿泊先の新グレード。
      %p 品質と快適性は認証済み。
      = button_tag('Airbnb Plus認証済みの部屋を探す')
