.feature-collection
  %h3 旅の目的別コレクション
  %h4.feature 旅に欠かせない設備充実の高評価な宿泊先から探してみよう
  .feature-collection__element
    .feature-collection__element-padding
      .feature-collection__element-padding-img
        =image_tag('sample7.jpg')
        %h2.feature ファミリー
      .feature-collection__element-padding-info
        %span.view-more 2,000+件の宿泊先
        %span.feature-text ファミリー大満足のお家を予約。家族水入らずでゆっくり過ごしましょう。
  .feature-collection__element
    .feature-collection__element-padding
      .feature-collection__element-padding-img
        =image_tag('sample8.jpg')
        %h2.feature 出張
      .feature-collection__element-padding-info
        %span.view-more 2,000+件の宿泊先
        %span.feature-text 高評価で柔軟な予約対応。ビジネス・出張に必要なアイテムをすべて備えた宿泊先を予約しよう。
