.feature-category
  %h3 一度は泊まってみたいユニークなお家
  %h4.feature ユニークなお家で今までにない旅をしよう
  .feature-category__element
    =image_tag('sample5.jpg')
    .feature-category__element-info
      %span.view-more 1912件のツリーハウス
      %span.feature-title 樹上の秘密基地
      %span.feature-text 木の上に泊まって鳥になろう
  .feature-category__element
    =image_tag('sample5.jpg')
    .feature-category__element-info
      %span.view-more 1912件のツリーハウス
      %span.feature-title 樹上の秘密基地
      %span.feature-text 木の上に泊まって鳥になろう
  .feature-category__element
    =image_tag('sample5.jpg')
    .feature-category__element-info
      %span.view-more 1912件のツリーハウス
      %span.feature-title 樹上の秘密基地
      %span.feature-text 木の上に泊まって鳥になろう
