.feature-category
  %h3 一度は泊まってみたいユニークなお家
  %h4.feature ユニークなお家で今までにない旅をしよう
  .feature-category__element
    .feature-category__element-padding
      =image_tag('sample5.jpg')
      .feature-category__element-padding-info
        %span.view-more 1912件のツリーハウス
        %span.feature-title 樹上の秘密基地
        %span.feature-text 木の上に泊まって鳥になろう
  .feature-category__element
    .feature-category__element-padding
      =image_tag('sample5.jpg')
      .feature-category__element-padding-info
        %span.view-more 1912件のボート
        %span.feature-title 海の旅
        %span.feature-text 大海原を渡った偉大な先人のパワーを感じよう。
  .feature-category__element
    .feature-category__element-padding
      =image_tag('sample5.jpg')
      .feature-category__element-padding-info
        %span.view-more 1912件のユルト
        %span.feature-title グランピングにぴったりな宿
        %span.feature-text 中は快適、外は大自然。いいところどりできます。
