.footer
  .footer-contents
    .footer-contents__nav-box
      %h4 Airbnb
      %ul
        %li 採用情報
        %li プレス
        %li ポリシー
        %li ヘルプ
        %li ダイバーシティ＆ビロンギング
    .footer-contents__nav-box
      %h4 スタッフのおすすめ
      %ul
        %li 信頼＆安全
        %li 友達を招待する
        %li Airbnb Citizen
        %li 出張
        %li ガイドブック
        %li Airbnbmag
    .footer-contents__nav-box
      %h4 ホスティング
      %ul
        %li ホストになる理由
        %li おもてなしの心
        %li ホストの責任
        %li コミュニティセンター
    .footer-contents__nav-box--last
      =fa_icon 'facebook-f', class: 'footer-sns-icon'
      =fa_icon 'twitter', class: 'footer-sns-icon'
      =fa_icon 'instagram', class: 'footer-sns-icon'
      %ul
        %li 利用規約
        %li プライバシー
        %li サイトマップ
    .footer-contents__copyright
      =fa_icon 'copyright', class: 'footer-copyright-icon'
      Airbnb, Inc.
    .footer-contents__language
      %span.footer-content-bottom
        言語
        =fa_icon 'angle-down', class: 'footer-icon-angle-down'
      %span.footer-content-bottom
        通貨
        =fa_icon 'angle-down', class: 'footer-icon-angle-down'
