.rooms
  %h3 世界のお家
  .rooms__room
    .rooms__room-padding
      = image_tag('sample6.jpg')
      .rooms__room-padding-info
        %span.room-category 一軒家貸切 · 東京
        %span.room-name The EDO CASTLE
        %span.room-price ¥ 65,000/泊 · キャンセル無料
        %span.rate.rate5
  .rooms__room
    .rooms__room-padding
      = image_tag('sample6.jpg')
      .rooms__room-padding-info
        %span.room-category 一軒家貸切 · 東京
        %span.room-name The EDO CASTLE
        %span.room-price ¥ 65,000/泊 · キャンセル無料
        %span.rate.rate3
  .rooms__room
    .rooms__room-padding
      = image_tag('sample6.jpg')
      .rooms__room-padding-info
        %span.room-category 一軒家貸切 · 東京
        %span.room-name The EDO CASTLE
        %span.room-price ¥ 65,000/泊 · キャンセル無料
        %span.rate.rate2-5
  .rooms__room
    .rooms__room-padding
      = image_tag('sample6.jpg')
      .rooms__room-padding-info
        %span.room-category 一軒家貸切 · 東京
        %span.room-name The EDO CASTLE
        %span.room-price ¥ 65,000/泊 · キャンセル無料
        %span.rate.rate1
  .view-all
    全てを見る（2000+）
    =fa_icon 'angle-right'
