.search
  %h3 Airbnbで探す
  .search__element
    = image_tag('sample1.jpg')
    %p 宿泊先
  .search__element
    = image_tag('sample2.jpg')
    %p 体験
  .search__element
    = image_tag('sample3.jpg')
    %p レストラン
